<section class="choose">
    <div class="container this--big">
        <div class="choose__content">
            <h2 class="h2_title choose__title">Why to choose us</h2>
            <div class="choose__subtitle">Why do so many people choose to fly with our paragliding team</div>
            <div class="choose__items">
                <div class="choose__item">
                    <div class="choose__item_img">
                        <img src="img/choose/img_1.png" alt="">
                    </div>
                    <div class="choose__item_text">Safety &<br> professionalism</div>
                </div>
                <div class="choose__item">
                    <div class="choose__item_img">
                        <img src="img/choose/img_2.png" alt="">
                    </div>
                    <div class="choose__item_text">Individual<br>
                        approach</div>
                </div>
                <div class="choose__item">
                    <div class="choose__item_img">
                        <img src="img/choose/img_3.png" alt="">
                    </div>
                    <div class="choose__item_text">Positive<br>
                        atmosphere</div>
                </div>
                <div class="choose__item">
                    <div class="choose__item_img">
                        <img src="img/choose/img_4.png" alt="">
                    </div>
                    <div class="choose__item_text">Fantastic<br>
                        pilots</div>
                </div>
            </div>
        </div>
    </div>
</section>