<section class="products js_menu_anchor" id="flights">
    <div class="container">
        <div class="products__content">
            <h2 class="h2_title products__title">Tandem flights in Tenerife</h2>
            <div class="products__subtitle">Experience the world from a new perspective!</div>
            <div class="products__cards">
                <div class="products__card card">
                    <div class="card__left">
                        <div class="card__img">
                            <img src="img/products/img_1.jpg" alt="">
                        </div>
                    </div>
                    <div class="card__right">
                        <div class="card__title">Silver Flight</div>
                        <div class="card__text">
                            <p>It’s a basic flight in a tandem with a pilot in which you explore breathtaking panoramic views possible to see only from the air. We take off on one of the mounts of the Southern coast and glide over green valleys and canyons till we reach the sea and land on La Caleta beach.</p>
                            <br>
                            <p>Adrenaline rush, sense of freedom, fantastic views are certainly going to turn your paragliding tour in Tenerife into one of the best experiences of your life.</p>
                        </div>
                        <div class="card__tags">
                            <div class="card__tag">10-20 minutes</div>
                            <div class="card__tag">Pick up included</div>
                        </div>
                        <div class="card__price_block">
                            <div class="card__price">99 €</div>
                            <div class="card__old_price">110 €</div>
                        </div>
                        <div class="card__links">
                            <a href="#" class="card__link btn this--prime">Book online with 10% discount!</a>
                            <a href="#" class="card__link btn this--second js_open_popup">Ask a question</a>
                        </div>
                    </div>
                </div>
                <div class="products__card card this--reverse">
                    <div class="card__left">
                        <div class="card__img">
                            <img src="img/products/img_2.jpg" alt="">
                        </div>
                    </div>
                    <div class="card__right">
                        <div class="card__title">Golden Flight</div>
                        <div class="card__text">
                            <p>On this flight your trained pilot will guide you through the air and use the wind currents to reach greater heights and make the flight longer. You will get to see even more gorgeous views from the height where birds fly: dramatically contrast landscapes of Tenerife, never ending ocean and neighboring islands. Takeoff and landing take place usually in the same sites as on silver flights.</p>      </div>
                        <div class="card__tags">
                            <div class="card__tag">20-25 minutes</div>
                            <div class="card__tag">Pick up included</div>
                        </div>
                        <div class="card__price_block">
                            <div class="card__price">117 €</div>
                            <div class="card__old_price">130 €</div>
                        </div>
                        <div class="card__links">
                            <a href="#" class="card__link btn this--prime">Book online with 10% discount!</a>
                            <a href="#" class="card__link btn this--second js_open_popup">Ask a question</a>
                        </div>
                    </div>
                </div>
                <div class="products__card card">
                    <div class="card__left">
                        <div class="card__img">
                            <img src="img/products/img_3.jpg" alt="">
                        </div>
                    </div>
                    <div class="card__right">
                        <div class="card__title">Platinum Flight</div>
                        <div class="card__text">
                            <p>This tandem flight is for those seeking adventure and adrenaline. It’s not only that you will connect with the nature and enjoy fantastic views, but you will also be allowed to navigate yourself under supervision of your pilot. It’s a unique experience that will give you both excitement and sense of achievement. The end of the flight will be not just a simple landing, but acrobatic maneuvers that will absolutely take your breath away.</p>
                            <br>
                            <p>An unparalleled sense of freedom and adventure are awaiting you!</p>
                        </div>
                        <div class="card__tags">
                            <div class="card__tag">25-30 minutes </div>
                            <div class="card__tag">Pick up included</div>
                        </div>
                        <div class="card__price_block">
                            <div class="card__price">135 €</div>
                            <div class="card__old_price">150 €</div>
                        </div>
                        <div class="card__links">
                            <a href="#" class="card__link btn this--prime">Book online with 10% discount!</a>
                            <a href="#" class="card__link btn this--second js_open_popup">Ask a question</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>