<section class="main_top">
    <div class="container this--big">
        <div class="main_top__content">
            <div class="main_top__top_text">Take to the skies with us</div>
            <h1 class="main_top__title">tandem Paragliding in Tenerife</h1>
            <div class="main_top__langs_wr this--desktop">
                <div class="main_top__langs">
                    <div class="main_top__lang">
                        <div class="main_top__lang_img">
                            <img src="img/main_top/es_square.png" alt="">
                        </div>
                        <div class="main_top__lang_text">Hablamos español</div>
                    </div>
                    <div class="main_top__lang">
                        <div class="main_top__lang_img">
                            <img src="img/main_top/en_square.png" alt="">
                        </div>
                        <div class="main_top__lang_text">We speak English</div>
                    </div>
                    <div class="main_top__lang">
                        <div class="main_top__lang_img">
                            <img src="img/main_top/fr_square.png" alt="">
                        </div>
                        <div class="main_top__lang_text">On parle francais</div>
                    </div>
                    <div class="main_top__lang">
                        <div class="main_top__lang_img">
                            <img src="img/main_top/nd_square.png" alt="">
                        </div>
                        <div class="main_top__lang_text">Wij spreken Nederlands</div>
                    </div>
                    <div class="main_top__lang">
                        <div class="main_top__lang_img">
                            <img src="img/main_top/it_square.png" alt="">
                        </div>
                        <div class="main_top__lang_text">Noi parliamo italiano</div>
                    </div>
                </div>
            </div>
            <div class="main_top__langs_wr this--mobile">
                <div class="main_top__langs_title">We speak</div>
                <div class="main_top__langs">
                    <div class="main_top__lang">
                        <div class="main_top__lang_img">
                            <img src="img/main_top/es_square.png" alt="">
                        </div>
                    </div>
                    <div class="main_top__lang">
                        <div class="main_top__lang_img">
                            <img src="img/main_top/en_square.png" alt="">
                        </div>
                    </div>
                    <div class="main_top__lang">
                        <div class="main_top__lang_img">
                            <img src="img/main_top/fr_square.png" alt="">
                        </div>
                    </div>
                    <div class="main_top__lang">
                        <div class="main_top__lang_img">
                            <img src="img/main_top/nd_square.png" alt="">
                        </div>
                    </div>
                    <div class="main_top__lang">
                        <div class="main_top__lang_img">
                            <img src="img/main_top/it_square.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="main_top__items">
                <div class="main_top__item">
                    <div class="main_top__item_img">
                        <img src="img/main_top/item_1.png" alt="">
                    </div>
                    <div class="main_top__item_text">Free Transfer</div>
                </div>
                <div class="main_top__item">
                    <div class="main_top__item_img">
                        <img src="img/main_top/item_2.png" alt="">
                    </div>
                    <div class="main_top__item_text">Experienced pilots</div>
                </div>
                <div class="main_top__item">
                    <div class="main_top__item_img">
                        <img src="img/main_top/item_3.png" alt="">
                    </div>
                    <div class="main_top__item_text">Insurance</div>
                </div>
            </div>
            <div class="main_top__links">
                <a href="#" class="main_top__link btn this--prime">Book with 10% discount</a>
                <a href="#" class="main_top__link btn this--wh js_open_popup">Ask a question</a>
            </div>
        </div>
    </div>
</section>