<section class="other js_menu_anchor" id="other">
    <div class="other__content">
        <h2 class="other__title h2_title">Our other activities in Tenerife</h2>
        <div class="other__subtitle">
            Our company offers different activities in Tenerife so you can explore this wonderful island in so many exciting ways
        </div>
        <div class="other__links">
            <a href="#" class="other__link">
                <div class="other__link_body">
                    <img src="img/other/img_1.jpg" alt="">
                    <span class="other__link_text">Snorkeling</span>
                </div>
            </a>
            <a href="#" class="other__link">
                <div class="other__link_body">
                    <img src="img/other/img_2.jpg" alt="">
                    <span class="other__link_text">Scuba diving</span>
                </div>
            </a>
            <a href="#" class="other__link">
                <div class="other__link_body">
                    <img src="img/other/img_3.jpg" alt="">
                    <span class="other__link_text">SUP</span>
                </div>
            </a>
            <a href="#" class="other__link">
                <div class="other__link_body">
                    <img src="img/other/img_4.jpg" alt="">
                    <span class="other__link_text">Kayaking</span>
                </div>
            </a>
        </div>
    </div>
</section>