<section class="about js_menu_anchor" id="about">
    <div class="about__content">
        <div class="container this--big">
            <h2 class="h2_title about__title">About us</h2>
            <div class="about__subtitle">Enjoy the thrill of flying while accompanied by our trained and experienced pilots</div>
        </div>
        <div class="about__row_wr">
            <div class="about__row">
                <div class="about__img_wr">
                    <div class="about__img">
                        <img src="img/about/img_1.jpg" alt="">
                    </div>
                </div>
                <div class="about__text">
                    <p>We are an international team of paragliding instructors with over 10 years experience in flying over Tenerife. We are proud to have Spanish and Canarian champions among us that brings us to a highest quality of service. We are passionate about our job and eager to share with others the incredible emotions that we experience every time we are in the air.</p>
                    <br>
                    <p>Having explored all corners of Tenerife, we have chosen the best takeoff sites and the most exciting routes to arrange tandem flights with anyone who would like to try it.</p>
                    <br>
                    <p>Tandem paragliding is suitable for individuals of all ages and fitness levels. No previous paragliding experience or training is required, as the pilot handles all aspects of the flight.</p>
                    <br>
                    <p>We pick up in the South of Tenerife for free.</p>
                </div>
                <div class="about__img_wr">
                    <div class="about__img">
                        <img src="img/about/img_2.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>