<div class="callback js_callback">
    <div class="callback__body">
        <div class="callback__close js_callback_close"></div>
        <div class="callback__content" data-content="form">
            <h3 class="callback__title">Ask us a question!</h3>
            <form action="#" class="callback__form">
                <div class="callback__input">
                    <input type="text" name="name" placeholder="Name">
                </div>
                <div class="callback__input">
                    <input type="tel" name="tel" placeholder="WhatsApp number" class="js_input_tel">
                    <span>Incorrect value!</span>
                </div>
                <div class="callback__input">
                    <textarea name="question" placeholder="Message"></textarea>
                </div>
                <input type="submit" value="Send" class="callback__submit btn this--prime">
            </form>
        </div>
        <div class="callback__content" data-content="thanks">
            <h3 class="callback__title">Thank you for your message</h3>
            <div class="callback__text">Our agent will contact you soon.</div>
            <button class="callback__ok btn this--prime js_callback_close">Ok</button>
        </div>
    </div>
</div>