<div class="video_popup">
    <div class="video_popup__body">
        <div class="video_popup__close"></div>
        <div class="video_popup__video" data-video="1">
            <iframe src="" data-src="https://www.youtube.com/embed/TAWv8uec-V0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
        <div class="video_popup__video" data-video="2">
            <iframe src="" data-src="https://www.youtube.com/embed/33bUtf51UDQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
        <div class="video_popup__video" data-video="3">
            <iframe src="" data-src="https://www.youtube.com/embed/81i3ynfqm54" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
    </div>
</div>