<header class="header js_header">
    <div class="container this--big">
        <div class="header__content">
            <div class="header__logo">
                <img src="img/header/logo.png" alt="" class="header_logo_img">
                <img src="img/header/logo_scroll.png" alt="" class="header_logo_img_dark">
            </div>
            <div class="header__links this--mobile">
                <a href="https://wa.me/34671408970" class="header__wa"></a>
                <a href="tel:+34671408970" class="header__tel">(+34) 671 40 89 70</a>
            </div>
            <nav class="header__menu">
                <ul class="header__menu_list">
                    <li><a href="#about" class="header__menu_link js_anchor">About Us</a></li>
                    <li><a href="#flights" class="header__menu_link js_anchor">Flights</a></li>
                    <li><a href="#other" class="header__menu_link js_anchor">Other Activities</a></li>
                    <li><a href="#gallery" class="header__menu_link js_anchor">Gallery</a></li>
                    <li><a href="#how" class="header__menu_link js_anchor">How To Book</a></li>
                    <li><a href="#contacts" class="header__menu_link js_anchor">Contacts</a></li>
                </ul>
            </nav>
            <div class="header__group">
                <div class="header__links this--desktop">
                    <a href="https://wa.me/34671408970" class="header__wa"></a>
                    <a href="tel:+34671408970" class="header__tel">(+34) 671 40 89 70</a>
                </div>
                <div class="header__lang">
                    <div class="header__lang_body">
                        <a href="/" class="header__lang_link active">
                            <div class="img-flag_wr">
                                <img src="img/header/EN.png" alt="" class="img-flag">
                            </div>
                        </a>
                        <a href="/es/" class="header__lang_link">
                            <div class="img-flag_wr">
                                <img src="img/header/ES.png" alt="" class="img-flag">
                            </div>
                        </a>
                        <a href="/fr/" class="header__lang_link">
                            <div class="img-flag_wr">
                                <img src="img/header/FR.png" alt="" class="img-flag">
                            </div>
                        </a>
                        <a href="/de/" class="header__lang_link">
                            <div class="img-flag_wr">
                                <img src="img/header/DE.png" alt="" class="img-flag">
                            </div>
                        </a>
                        <a href="/pl/" class="header__lang_link">
                            <div class="img-flag_wr">
                                <img src="img/header/PL.png" alt="" class="img-flag">
                            </div>
                        </a>
                        <a href="/ru/" class="header__lang_link">
                            <div class="img-flag_wr">
                                <img src="img/header/RU.png" alt="" class="img-flag">
                            </div>
                        </a>
                    </div>
                    <div class="header__lang_arrow">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="18" viewBox="0 0 20 18" fill="none">
                            <path d="M3.66663 6.75L10.1666 13.25L16.6666 6.75" stroke="white" stroke-opacity="0.6" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </div>
                </div>
                <div class="header__burger">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
        </div>
    </div>
</header>