<section class="gallery js_menu_anchor" id="gallery">
    <div class="container this--big">
        <div class="gallery__content">
            <h2 class="h2_title gallery__title">Gallery</h2>
            <div class="gallery__subtitle">
                Best paragliding tandem flights in Tenerife
            </div>
            <div class="gallery__slider_wr">
                <div class="gallery__slider_prev">
                    <svg xmlns="http://www.w3.org/2000/svg" width="38" height="24" viewBox="0 0 38 24" fill="none">
                        <path d="M37 12H1M1 12L12.1056 1M1 12L12.1056 23" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </div>
                <div class="gallery__slider_pagination"></div>
                <div class="gallery__slider_next"><svg xmlns="http://www.w3.org/2000/svg" width="38" height="24" viewBox="0 0 38 24" fill="none">
                    <path d="M1 12H37M37 12L25.8944 1M37 12L25.8944 23" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                </div>
                <div class="gallery__slider swiper-container">
                    <div class="gallery__slider_wrapper swiper-wrapper">
                        <div class="gallery__slider_slide gallery__slide swiper-slide">
                            <a href="img/gallery/img_1_b.jpg" data-fancybox class="gallery__slide_img">
                                <img src="img/gallery/img_1.jpg" alt="">
                            </a>
                        </div>
                        <div class="gallery__slider_slide gallery__slide swiper-slide">
                            <a href="img/gallery/img_2_b.jpg" data-fancybox class="gallery__slide_img">
                                <img src="img/gallery/img_2.jpg" alt="">
                            </a>
                        </div>
                        <div class="gallery__slider_slide gallery__slide swiper-slide">
                            <a href="img/gallery/img_3_b.jpg" data-fancybox class="gallery__slide_img">
                                <img src="img/gallery/img_3.jpg" alt="">
                            </a>
                        </div>
                        <div class="gallery__slider_slide gallery__slide swiper-slide">
                            <a href="img/gallery/img_4_b.jpg" data-fancybox class="gallery__slide_img">
                                <img src="img/gallery/img_4.jpg" alt="">
                            </a>
                        </div>
                        <div class="gallery__slider_slide gallery__slide swiper-slide">
                            <a href="img/gallery/img_5_b.jpg" data-fancybox class="gallery__slide_img">
                                <img src="img/gallery/img_5.jpg" alt="">
                            </a>
                        </div>
                        <div class="gallery__slider_slide gallery__slide swiper-slide">
                            <a href="img/gallery/img_7_b.jpg" data-fancybox class="gallery__slide_img">
                                <img src="img/gallery/img_7.jpg" alt="">
                            </a>
                        </div>
                        <div class="gallery__slider_slide gallery__slide swiper-slide">
                            <a href="img/gallery/img_8_b.jpg" data-fancybox class="gallery__slide_img">
                                <img src="img/gallery/img_8.jpg" alt="">
                            </a>
                        </div>
                        <div class="gallery__slider_slide gallery__slide swiper-slide">
                            <a href="img/gallery/img_9_b.jpg" data-fancybox class="gallery__slide_img">
                                <img src="img/gallery/img_9.jpg" alt="">
                            </a>
                        </div>
                        <div class="gallery__slider_slide gallery__slide swiper-slide">
                            <a href="img/gallery/img_10_b.jpg" data-fancybox class="gallery__slide_img">
                                <img src="img/gallery/img_10.jpg" alt="">
                            </a>
                        </div>
                        <div class="gallery__slider_slide gallery__slide swiper-slide">
                            <a href="img/gallery/img_11_b.jpg" data-fancybox class="gallery__slide_img">
                                <img src="img/gallery/img_11.jpg" alt="">
                            </a>
                        </div>
                        <div class="gallery__slider_slide gallery__slide swiper-slide">
                            <a href="img/gallery/img_12_b.jpg" data-fancybox class="gallery__slide_img">
                                <img src="img/gallery/img_12.jpg" alt="">
                            </a>
                        </div>
<!--                        <div class="gallery__slider_slide gallery__slide swiper-slide">-->
<!--                            <div class="gallery__slide_img this&#45;&#45;video js_open_video" data-video="1">-->
<!--                                <img src="img/gallery/vid_1.jpg" alt="">-->
<!--                            </div>-->
<!--                        </div>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>