.how {
  padding: 100px 0;

  @media (max-width: 1400px) {
    padding: 80px 0;
  }
  @media ($tablet3) {
    padding: 60px 0;
  }
}
.how__content {
  max-width: 800px;
  margin: 0 auto;
}
.how__subtitle {
  color: #666973;
  text-align: center;
  font-variant-numeric: lining-nums proportional-nums;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  margin-top: 20px;

  @media (max-width: 1400px) {
    margin-top: 15px;
    font-size: 16px;
  }
  @media ($tablet3) {
    font-size: 14px;
  }
}
.how__text {
  margin-top: 60px;
  color: #666973;
  font-family: Noto Sans;
  font-size: 20px;
  font-weight: 400;
  line-height: 170%;

  @media (max-width: 1400px) {
    font-size: 16px;
    margin-top: 40px;
  }
  @media ($tablet3) {
    font-size: 14px;
    margin-top: 20px;
  }
}
.how__accordion {
  margin-top: 40px;

  @media (max-width: 1400px) {
    margin-top: 20px;
  }
  @media ($tablet3) {
    margin-top: 15px;
  }
}
.how__accordion_head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #060E2C;
  font-variant-numeric: lining-nums proportional-nums;
  font-size: 30px;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;

  @media (max-width: 1400px) {
    font-size: 23px;
  }
  @media ($tablet3) {
    font-size: 16px;
  }
}
.how__acordion_arrow {
  width: 40px;
  height: 40px;
  margin-left: 25px;
  background: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 13.5L20 26.5L33 13.5' stroke='%23666973' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A") center/ 100% 100% no-repeat;
  transition: transform 0.25s;

  @media ($tablet3) {
    width: 30px;
    height: 30px;
  }

  .how__accordion_head.open & {
    transform: rotate(180deg);
  }
}
.how__accordion_body {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s;
}
.how__accordion_body_text {
  margin-top: 15px;
  color: #666973;
  font-family: Noto Sans;
  font-size: 20px;
  font-weight: 400;
  line-height: 170%;

  @media (max-width: 1400px) {
    margin-top: 10px;
    font-size: 16px;
  }
  @media ($tablet3) {
    font-size: 14px;
  }
}