<section class="how js_menu_anchor" id="how">
    <div class="container">
        <div class="how__content">
            <h2 class="h2_title how__tile">How to book</h2>
            <div class="how__subtitle">To book paragliding in Tenerife is so simple</div>
            <div class="how__text">Choose the flight that interests you most and click “Book with 10% discount”. Fill in a simple form and proceed with payment of a deposit. You will pay the rest on the day of excursion.</div>
            <div class="how__accordions">
                <div class="how__accordion">
                    <div class="how__accordion_head js_accordion_head">
                        Be noted <span class="how__acordion_arrow"></span>
                    </div>
                    <div class="how__accordion_body">
                        <div class="how__accordion_body_text">
                            <p>A booking of paragliding in Tenerife can be made not less than 18 hours before the flight.</p>
                            <br>
                            <p>If your place of stay is an apartment, you need to send us its exact address and on the day of the tandem flight, please, wait for the pick up outside of the apartment complex.</p>
                            <br>
                            <p>When writing your telephone number, indicate also your country code.</p>
                            <br>
                            <p>When you complete the booking, you will immediately get an automatic confirmation. During several hours we will also send you another email to confirm the hour and meeting point.</p>
                            <br>
                            <p>If you are going to book last minute, please, give us a call first.</p>
                            <br>
                            <p>If you stay in the North of Tenerife, you can reach us in a car. If you haven’t rented a car, we can help you book a touristic bus from Puerto de la Cruz. For that you need to call us first to agree the date.</p>
                        </div>
                    </div>
                </div>
                <div class="how__accordion">
                    <div class="how__accordion_head js_accordion_head">
                        Cancelation policy <span class="how__acordion_arrow"></span>
                    </div>
                    <div class="how__accordion_body">
                        <div class="how__accordion_body_text">
                            <p>50% refund if the tour is canceled 24 hours or earlier before the start of the tour.</p>
                            <br>
                            <p>No refund if the tour is canceled less than 24 hours before the start of the tour.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>